{% extends "concerts/base.html" %}
{% block content %}

    <h2>Upcoming concerts</h2><i>last updated {{ last_updated|date:"SHORT_DATE_FORMAT" }}</i>
    <ul>
        {% for concert in matches %}
            <li><h3>{{ concert.billing }} at {{ concert.venue }}</h3>
                <p>{{ concert.date_time }}, {{ concert.price }}</p>
                <p>Matches artists
                {% for artist in concert.artists.all %}
                    '{{ artist.name }}', {% endfor %}
                </p>
                <p><a href={{ concert.url }}>Link</a></p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
