{% extends "concerts/base.html" %}
{% block content %}

    <h2>Upcoming concerts</h2><i>last updated {{ last_updated|date:"SHORT_DATE_FORMAT" }}</i>
    <ul>
        {% for concert in matches %}
            <li>
                <h3>{{ concert.billing }}</h3><h4> at {{ concert.venue }}</h4>
                <p>{{ concert.date_time }} | Tickets {{ concert.price }} | <a href={{ concert.url }}>Show page</a></p>
                <p>Matches artists
                {% for artist in concert.artists.all %}
                    {% if artist.spotify_id %}
                        '{{ artist.name }}' <a id="spotify-link" href=https://play.spotify.com/artist/{{ artist.spotify_id }}>(Spotify)</a>, 
                    {% else %}
                        '{{ artist.name }}', 
                    {% endif %}
              {% endfor %}
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
